.representative-offices {
  margin-top: var(--margin-sections);

  @include media-tablet {
    display: none;
  }
}

.link-to-office path {
  transition: var(--transition);

  &:hover {
    fill: var(--light-gray-color);
  }
}