:root {
  --container-width: 1180px;
  --margin-sections: 80px;

  --primary-font: "Source Sans 3", sans-serif;

  --primary-color: #607CE6;
  --dark-color: #333333;
  --light-color: #FFFFFF;
  --gray-color: #888888;
  --medium-gray-color: #D9D9D9;
  --light-gray-color: #F5F5F5;

  --transition: .3s ease-in-out;
}