<div class="footer">
    <div class="container">

        <div class="footer__box">
            <div class="footer__logotype">
                <img src="./img/logotype-white.svg" alt="Перейти на главную страницу">
            </div>
            <div class="footer__nav">
                <div class="footer__nav-first-row">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О предприятии</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Продукция</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Поддержка</a></li>
                        <li><a href="#">География поставок</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__nav-second-row">
                    <ul>
                        <li><a href="#">Файлы</a></li>
                        <li><a href="#">Поддержка</a></li>
                        <li><a href="#">Политика конфеденциальности</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__copyright">
            1994 — 2023 ООО «ПИОНЕР»
        </div>

    </div>
</div>