<div class="news">
    <div class="container">

        <div class="title-section title-section-flex-between">
            Новости
            <div class="news__buttons-swiper">
                <button id="swiper-button-prev">
                    <img src="./img/icons/arrow-left.svg" alt="Прошлый пост">
                </button>
                <button id="swiper-button-next">
                    <img src="./img/icons/arrow-right.svg" alt="Прошлый пост">
                </button>
            </div>
        </div>

        <div class="news__items">

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="news__items-item">
                            <a href="#">
                                <div class="news__items-item-image-box">
                                    <img src="./img/components/news/news1.png" alt="НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…" class="news__items-item-image">
                                </div>
                                <div class="news__items-item-description">
                                    <div class="news__items-item-title">
                                        НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…
                                    </div>
                                    <div class="news__items-item-footer">
                                        <span class="news__item-item-read-more">Читать далее</span>
                                        <span class="news__item-item-date-publication">20.07.2023</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="news__items-item">
                            <a href="#">
                                <div class="news__items-item-image-box">
                                    <img src="./img/components/news/news2.png" alt="Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!" class="news__items-item-image">
                                </div>
                                <div class="news__items-item-description">
                                    <div class="news__items-item-title">
                                        Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!
                                    </div>
                                    <div class="news__items-item-footer">
                                        <span class="news__item-item-read-more">Читать далее</span>
                                        <span class="news__item-item-date-publication">18.07.2023</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="news__items-item">
                            <a href="#">
                                <div class="news__items-item-image-box">
                                    <img src="./img/components/news/news3.png" alt="Перенос сроков проведения запланированных работ в 2023 году" class="news__items-item-image">
                                </div>
                                <div class="news__items-item-description">
                                    <div class="news__items-item-title">
                                        Перенос сроков проведения запланированных работ в 2023 году
                                    </div>
                                    <div class="news__items-item-footer">
                                        <span class="news__item-item-read-more">Читать далее</span>
                                        <span class="news__item-item-date-publication">20.06.2023</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="news__items-item">
                            <a href="#">
                                <div class="news__items-item-image-box">
                                    <img src="./img/components/news/news1.png" alt="НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…" class="news__items-item-image">
                                </div>
                                <div class="news__items-item-description">
                                    <div class="news__items-item-title">
                                        НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…
                                    </div>
                                    <div class="news__items-item-footer">
                                        <span class="news__item-item-read-more">Читать далее</span>
                                        <span class="news__item-item-date-publication">20.07.2023</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>