<div class="products">
    <div class="container">

        <div class="title-section">Продукция</div>

        <div class="products__items">
            <div class="products__items-item">
                <a href="#" class="products__items-item-link">
                    <img src="./../img/components/products/level-indicator.png" alt="Сигнализатор уровня" class="products__items-item-img">
                    <div class="product__items-item__footer">
                        <span>Сигнализатор уровня</span>
                        <div class="product__items-item-more">
                            <span>Подробнее</span>
                            <img src="../img/icons/arrow-right.svg" alt="Подробнее">
                        </div>
                    </div>
                </a>
            </div>
            <div class="products__items-item">
                <a href="#" class="products__items-item-link">
                    <img src="./../img/components/products/pressure-sensor.png" alt="Датчики давления" class="products__items-item-img">
                    <div class="product__items-item__footer">
                        <span>Датчики давления</span>
                        <div class="product__items-item-more">
                            <span>Подробнее</span>
                            <img src="../img/icons/arrow-right.svg" alt="Подробнее">
                        </div>
                    </div>
                </a>
            </div>
            <div class="products__items-item">
                <a href="#" class="products__items-item-link">
                    <img src="./../img/components/products/pid-controllers.png" alt="ПИД-регуляторы" class="products__items-item-img">
                    <div class="product__items-item__footer">
                        <span>ПИД-регуляторы</span>
                        <div class="product__items-item-more">
                            <span>Подробнее</span>
                            <img src="../img/icons/arrow-right.svg" alt="Подробнее">
                        </div>
                    </div>
                </a>
            </div>
            <div class="products__items-item">
                <a href="#" class="products__items-item-link">
                    <img src="./../img/components/products/pressure-calibrator.png" alt="Калибратор давления" class="products__items-item-img">
                    <div class="product__items-item__footer">
                        <span>Калибратор давления</span>
                        <div class="product__items-item-more">
                            <span>Подробнее</span>
                            <img src="../img/icons/arrow-right.svg" alt="Подробнее">
                        </div>
                    </div>
                </a>
            </div>
            <div class="products__items-item">
                <a href="#" class="products__items-item-link">
                    <img src="./../img/components/products/gas-flow-corrector.png" alt="Корректор расхода газа" class="products__items-item-img">
                    <div class="product__items-item__footer">
                        <span>Корректор расхода газа</span>
                        <div class="product__items-item-more">
                            <span>Подробнее</span>
                            <img src="../img/icons/arrow-right.svg" alt="Подробнее">
                        </div>
                    </div>
                </a>
            </div>
            <div class="products__items-item">
                <a href="#" class="products__items-item-link">
                    <img src="./../img/components/products/pressure-gauges.png" alt="Манометры" class="products__items-item-img">
                    <div class="product__items-item__footer">
                        <span>Манометры</span>
                        <div class="product__items-item-more">
                            <span>Подробнее</span>
                            <img src="../img/icons/arrow-right.svg" alt="Подробнее">
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>